

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    height: 100%;
}

.center{
    margin: auto;
    /*width: 600px;*/
    padding: 20px;
}

/* ----- SECTIONS -----*/

.main {
    margin: auto;
    height: 400px;
    width: 400px;
    padding: 30px;
    background-color: ;
}


/* ----- FOOTER -----*/
/* TODO: Fix the footer width??? */
footer {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 10px;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    text-align: center;
    background-color: #dcdcdc;
}
}